.container {
    margin-bottom: 100px;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #171717 0%, #000000 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
}
.carousel-item {
    padding: 20px 40px;
}

.bg1{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.card{
    border: none;
    box-shadow: 10px 10px 10px lightgray ;
}
.card-footer{
    background-color: white;
    border-top: none;
    text-align: center;
}
.container p{
    color: gray;
}
.hr{
    width: 80px;
    border: 4px solid goldenrod; 
    border-radius: 5px; 
}
.categories img {
    width: 100%;
}